{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "semi": false,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ]
}
